// Special Bar Mark Graph
.SpecialGraph__container {
	height: 320px;
	margin-top: 120px;
	padding: 0 20px;
}

.SpecialGraph__bar-container {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
	position: relative;
	border: 3px solid grey;
	margin: 0 auto;
}
.SpecialGraph__bar {
    height: 60px;
    // margin-top: 120px;
	margin-right: 5px;
	
	&:last-child {
		margin-right: 0px;
	}
}

.SpecialGraph__mark-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.SpecialGraph__mark {
	position: relative;
	margin-right: 3px;

	&:last-child {

		.mark-label__bottom {
			left: -80px;
			text-align: right;
		}
	}
}

.mark-label {
	position: absolute;
	left: 0;
	margin-left: 10px;
}

.mark-label__bottom {
	bottom: 0;
}

.mark-label__name {
	color: $common-color;
	font-size: $fs-sm;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	text-transform: capitalize;
	word-wrap: break-word;
}

.mark-label__price {
	font-size: $fs-lg;
	font-weight: 600;
	color: $label-color;
}